# Fichiers de données trop lourds
data/*.csv
data/*.zip
data/**/creditcard.csv
data/**/Credit Card Fraud Detection*

# Ne pas versionner les gros jeux de données
Notebooks/data/processed_data.csv
Notebooks/data/new_transactions.csv

# Fichiers système / IDE
.DS_Store
*.pyc
__pycache__/

# Environnement virtuel
venv/
venv_hackathon/

# Notebooks avec sorties inutiles
.ipynb_checkpoints/
